body {
  font-family: VT323, sans-serif;
  font-size: 14px;
  min-width: 380px;
  min-height: 250px;
  background-image: url("img/bg_modern.jpg");
}

#input {
  position: absolute;
  left: 180px;
  top: 64px;
}

#submitButton {
  border: 1px solid black;
  background: white;
}

#pkmnName {
  border: 1px solid black;
  outline: none;
  width: 120px;
  max-width: 120px;
}

#sprite {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 140px;
  height: auto;
  outline: none;
  border: none;
}

#height {
  position: absolute;
  font-size: 20px;
  left: 275px;
  top: 145px;
}

#weight {
  position: absolute;
  font-size: 20px;
  left: 275px;
  top: 168px;
}

#description {
  width: 305px;
  height: 55px;
  position: absolute;
  left: 45px;
  top: 205px;
  font-size: 15px;
}

#spinner {
  position: absolute;
  left: 60px;
  top: 60px;
  width: 75px;
  height: auto;
}

#type1 {
  position: absolute;
  left: 240px;
  top: 102px;
  font-size: 16px;
}

#type2 {
  position: absolute;
  left: 314px;
  top: 102px;
  font-size:16px;
}

#pokemonName {
  max-width: 180px;
  position: absolute;
  left: 210px;
  top: 35px;
  font-size: 20px;
  color: #FFFFFF;
  padding: 0;
}

p {
  padding: 0 !important;
  margin: 0 !important;
}